<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iyuce.itoefl">

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UI.Main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BaseActivity" />
        <activity android:name=".UI.Listening.Activity.TopListeneringActivity" />
        <activity
            android:name=".UI.Listening.Activity.TopListeneringPageActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".UI.Listening.Activity.PageReadyActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".UI.Listening.Activity.DoQuestionReadyActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".UI.Listening.Activity.DoQuestionActivity"
            android:launchMode="singleTop" />
        <activity android:name=".UI.Listening.Activity.DoResultActivity"></activity>
    </application>

</manifest>